.links {
  text-align: right;
}
form > input[type="text"] {
  border-radius: 10px;
}
.form-container {
  display: flex;
  justify-content: center;
  text-align: center;
}
#advancedSearch-btn {
  color: #fff;
  background-color: blue;
  border: none;
  padding: 5px;
}
